<%= render "header" %>

<div class="container body">
  <p style="color: green"><%= notice %></p>

  <div class="list-group">
    <% @todos.each do |todo| %>
      <%= render todo %>
    <% end %>
  </div>

  <br>

  <%= link_to "Create new todo", new_todo_path, class: "link" %>
</div>
